@model UI.SafeChargeModels.OpenOrderResponse
@{
    ViewBag.Title = "Cart Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start Checkout -->
<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-6 m-sm-auto">
                <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>Cart Details</h2>
                        <div class="content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col" class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                                <tfoot id="tfoot"></tfoot>
                            </table>
                        </div>
                    </div>

                    <!-- Button Widget -->
                    <div class="single-widget get-button">
                        <div class="content d-flex" style="justify-content: space-around;">
                            <div class="button">
                                <button id="checkoutButton" onclick="navigateToCheckout();" class="btn btn-default">Checkout</button>
                            </div>
                            <div class="button">
                                <button id="checkoutWithSDKButton" onclick="navigateToCheckoutWithSDK();" class="btn btn-default">Checkout WebSDK</button>
                            </div>
                        </div>
                    </div>
                    <!--/ End Button Widget -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Checkout -->

@section Scripts{
    <script>
        populateCartTable();
    </script>
}