@model UI.SafeChargeModels.CheckoutViewModel
@{
    ViewBag.Title = "SafeCharge Checkout Page";
    Layout = null;
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("en-US", true);
    System.Threading.Thread.CurrentThread.CurrentCulture = culture;
    System.Threading.Thread.CurrentThread.CurrentUICulture = culture;
    var hasher = new UI.Helpers.CheckSumProvider();

    string apiUrl = "https://ppp-test.safecharge.com/ppp/purchase.do";
    string notifyUrl = "https://sandbox.safecharge.com/lib/demo_process_request/response.php";
    string successUrl = "https://localhost:44384/Home/Success";
    string errorUrl = "https://localhost:44384/Home/Error";
    string pendingUrl = "https://sandbox.safecharge.com/lib/demo_process_request/response.php";

    var strToHash = string.Concat(
        Model.Secret, Model.MerchantId, Model.MerchantSiteId, Model.Version, Model.UserTokenId,
        Model.Items.Count, Model.TotalTax, Model.Discount, Model.Shipping, Model.Handling,
        Model.Currency.ToUpper(), Model.ItemListString, Model.Amount,
        Model.PaymentMethod, Model.Locale, Model.Email, Model.Country,
        notifyUrl, successUrl, errorUrl, pendingUrl,
        Model.TimeStamp
        );

    string hash = hasher.GetChecksumSha256(strToHash);

    string itemList = "";
    int count = Model.Items.Count;

    for (int i = 0; i < count; i++)
    {
        var item = Model.Items[i];
        var n = i + 1;
        string item_name_n = string.Concat("item_name_", n, "=", item.Name);
        string item_amount_n = string.Concat("item_amount_", n, "=", String.Format("{0:0.00}", item.Price));
        string item_quantity_n = string.Concat("item_quantity_", n, "=", item.Quantity);
        itemList += string.Concat(item_name_n, "&" + item_amount_n + "&" + item_quantity_n);
        if (n < count)
        {
            itemList += "&";
        }
    }

    string checkoutpageUrl = string.Concat(
        apiUrl,
        "?merchant_id=", Model.MerchantId,
        "&merchant_site_id=", Model.MerchantSiteId,
        "&version=", Model.Version,
        "&user_token_id=", Model.UserTokenId,
        "&numberofitems=", Model.Items.Count,
        "&total_tax=", Model.TotalTax,
        "&discount=", Model.Discount,
        "&shipping=", Model.Shipping,
        "&handling=", Model.Handling,
        "&currency=", Model.Currency,
        "&", itemList,
        "&total_amount=", Model.Amount,
        "&first_name=", Model.FirstName,
        "&address1=", Model.Address1,
        "&payment_method=", Model.PaymentMethod,
        "&last_name=", Model.LastName,
        "&city=", Model.City,
        "&merchantLocale=", Model.Locale,
        "&phone1=", Model.Phone1,
        "&zip=", Model.Zip,
        "&email=", Model.Email,
        "&country=", Model.Country,
        "&notify_url=", notifyUrl,
        "&success_url=", successUrl,
        "&error_url=", errorUrl,
        "&pending_url=", pendingUrl,
        "&time_stamp=", Model.TimeStamp,
        "&checksum=", hash
        );
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Eshop</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">
</head>
<body>
    <!-- SafeCharge IFrame -->
    <iframe name="safeChargeIframe"
            style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
            scrolling="auto"
            src="@checkoutpageUrl">
    </iframe>
    <!--/ End SafeCharge IFrame -->
</body>
</html>
