@model UI.SafeChargeModels.CheckoutViewModel
@{
    ViewBag.Title = "SafeCharge Checkout Page";
    Layout = null;
    var hasher = new UI.Helpers.CheckSumProvider();

    Model.Version = "4.0.0";
    string apiUrl = "https://ppp-test.safecharge.com/ppp/purchase.do";
    var notifyUrl = "https%3A%2F%2Fsandbox.safecharge.com%2Flib%2Fdemo_process_request%2Fresponse.php";
    var strToHash = string.Concat(
        Model.Secret, Model.MerchantId, Model.MerchantSiteId,
        Model.Amount, Model.Currency.ToUpper(), Model.UserTokenId,
        Model.ItemListString,
        Model.TimeStamp,
        Model.Version, notifyUrl
        );


    string itemList = "";
    int count = Model.Items.Count;

    for (int i = 0; i < count; i++)
    {
        var item = Model.Items[i];
        var n = i + 1;
        string item_name_n = string.Concat("item_name_", n, "=", item.Name);
        string item_number_n = string.Concat("item_number_", n, "=", n);
        string item_quantity_n = string.Concat("item_quantity_", n, "=", item.Quantity);
        string item_amount_n = string.Concat("item_amount_", n, "=", item.Total);
        itemList += string.Concat(item_name_n, "&" + item_amount_n + "&" + item_quantity_n);
        //itemList += string.Concat(item_name_n, "&" + item_number_n + "&" + item_quantity_n + "&" + item_amount_n);
        if (n < count)
        {
            itemList += "&";
        }
    }

    //string src = string.Concat(apiUrl, "?merchant_id", Model.MerchantId,  );
    //"merchant_id=5305553900704185318&merchant_site_id=205838&version=4.0.0&user_token_id=e07095cc-7d7f&numberofitems=1&total_tax=0&discount=0&shipping=0&handling=0&currency=USD&item_name_1=Blouse&item_amount_1=40.00&item_quantity_1=1&total_amount=40.00&first_name=&address1=&payment_method=cc_card&last_name=&city=&merchantLocale=en_US&phone1=&zip=&email=test@test.com&country=CA&notify_url=https://sandbox.safecharge.com/lib/demo_process_request/response.php&success_url=https://sandbox.safecharge.com/lib/demo_process_request/response.php&error_url=https://ppp-test.safecharge.com/ppp/defaultCancel.do&pending_url=https://sandbox.safecharge.com/lib/demo_process_request/response.php&time_stamp=2020-08-15%2013:22:23&checksum=d1dd83659f9f85920df4e00c68032be926022044032d49bbe22c6214fc10f391"

}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Eshop</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">
</head>
<body>
    <!-- SafeCharge IFrame -->
    <iframe name="safeChargeIframe"
            style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
            scrolling="auto"
            src='@apiUrl?merchant_id=@Model.MerchantId&merchant_site_id=@Model.MerchantSiteId&version=4.0.0&user_token_id=e07095cc-7d7f&numberofitems=1&total_tax=0&discount=0&shipping=0&handling=0&currency=USD&item_name_1=Blouse&item_amount_1=40.00&item_quantity_1=1&total_amount=40.00&first_name=&address1=&payment_method=cc_card&last_name=&city=&merchantLocale=en_US&phone1=&zip=&email=test@test.com&country=CA&notify_url=https://sandbox.safecharge.com/lib/demo_process_request/response.php&success_url=https://sandbox.safecharge.com/lib/demo_process_request/response.php&error_url=https://ppp-test.safecharge.com/ppp/defaultCancel.do&pending_url=https://sandbox.safecharge.com/lib/demo_process_request/response.php&time_stamp=2020-08-15%2013:22:23&checksum=d1dd83659f9f85920df4e00c68032be926022044032d49bbe22c6214fc10f391'>
    </iframe>
    <!--/ End SafeCharge IFrame -->
</body>
</html>
