@model UI.SafeChargeModels.CheckoutViewModel
@{
    ViewBag.Title = "SafeCharge Checkout Page";
    Layout = null;
    string apiUrl = "https://ppp-test.safecharge.com/ppp/purchase.do";
    string notifyUrl = "https%3A%2F%2Fsandbox.safecharge.com%2Flib%2Fdemo_process_request%2Fresponse.php";
    string userTokenId = Model.UserTokenId;
    string itemList = "";
    int count = Model.Items.Count;

    for (int i = 0; i < count; i++)
    {
        var item = Model.Items[i];
        var n = i + 1;
        string item_name_n = string.Concat("item_name_", n, "=", item.Name);
        string item_number_n = string.Concat("item_number_", n, "=", n);
        string item_quantity_n = string.Concat("item_quantity_", n, "=", item.Quantity);
        string item_amount_n = string.Concat("item_amount_", n, "=", item.Total);
        itemList += string.Concat(item_name_n, "&" + item_number_n + "&" + item_quantity_n + "&" + item_amount_n);
        if (n < count)
        {
            itemList += "&";
        }
    }
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Eshop</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">
</head>
<body>
    <!-- SafeCharge IFrame -->
    <iframe name="safeChargeIframe"
            style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
            scrolling="auto"
            src="@apiUrl
            ?currency=@Model.Currency
            &@itemList
            &numberofitems=@Model.Items.Count.ToString()
            &encoding=utf-8
            &merchant_id=@Model.MerchantId
            &merchant_site_id=@Model.MerchantSiteId
            &time_stamp=@Model.TimeStamp
            &version=@Model.Version
            &user_token_id=@userTokenId
            &total_amount=@Model.Amount
            &notify_url=@notifyUrl
            &theme_id=178113
            &checksum=@Model.Checksum">
    </iframe>
    <!--/ End SafeCharge IFrame -->
</body>
</html>
