@model UI.SafeChargeModel.OpenOrderResultModel
@{
    ViewBag.Title = "Checkout Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .SfcFields {
        background-color: #feff8c;
        height: 42px;
        padding: 10px 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .sfc-empty {
        background-color: #fecd58 !important;
    }

        .sfc-empty.sfc-focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
            background-color: #fe8423 !important;
        }

    .sfc-focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
        background-color: #feb1c7 !important;
    }

    .sfc-complete {
        background-color: #34fa29 !important;
    }

    .sfc-invalid {
        border-color: #fa755a;
    }

    .SfcFields--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>

<!-- Start Checkout -->
<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-6 m-sm-auto">
                <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>Checkout Details</h2>
                        <div class="content">
                            <ul>
                                <li>Sub Total<span id="checkoutTotal">0.00</span><span id="currencyMark">$</span></li>
                            </ul>
                        </div>
                    </div>
                    <!--/ End Order Widget -->
                    <!-- Payment Method Widget -->
                    <div class="single-widget">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="cardHolderName">Card Holder Name</label>
                                <div id="cardHolderName" class="col-12">
                                    CL-BRW1
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="card-field-placeholder">
                                    Credit or debit card
                                </label>
                                <div id="card-field-placeholder" class="col-12" style="min-height:30px;">
                                    <!-- SFC Card widget will be inserted here. -->
                                </div>
                                <!-- Used to display form errors. -->
                                <div id="scard-errors" role="alert"></div>
                            </div>
                        </div>
                    </div>
                    <!--/ End Payment Method Widget -->
                    <!-- Button Widget -->
                    <div class="single-widget get-button">
                        <div class="content">
                            <div class="button">
                                <button id="payoutButton" onclick="main();" class="btn">Submit Payment</button>
                            </div>
                        </div>
                    </div>
                    <!--/ End Button Widget -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Checkout -->

@section Scripts{
    <script src="https://cdn.safecharge.com/safecharge_resources/v1/websdk/safecharge.js"></script>
    <script>
        var sfc = SafeCharge({
            env: 'test', // the environment you are running  on, ‘prod’ for production
            merchantId: '6137988932968921795', // your Merchant ID provided by SafeCharge
            merchantSiteId: '203978', // your Merchantsite ID provided by SafeCharge
        });

        var ScFields = sfc.fields({
            fonts: [{
                cssUrl: 'https://fonts.googleapis.com/css?family=Source+Code+Pro'
            }, // include your custom fonts
            ],
            locale: 'en' // you can set your users preferred locale, if not provided we will try to autodetect
        });

        var style = {
            base: {
                fontFamily: 'Roboto, sans-serif',
                color: "#045d47",
                fontSmoothing: 'antialiased',
                '::placeholder': {
                    color: '#ccb654'
                }
            },
            invalid: {
                color: '#e5312b',
                ':focus': {
                    color: '#303238'
                }
            },
            empty: {
                color: '#BADA55',
                '::placeholder': {
                    color: '#cc3ac2'
                }
            },
            valid: {
                color: '#2b8f22'
            }
        };

        var scard = ScFields.create('card', {
            style: style
        });
        scard.attach(document.getElementById('card-field-placeholder'));


        function main() {
            var cardholderName = document.getElementById('cardHolderName').value;
            //var currency = document.getElementById('exampleFormControlSelect1').value;
            var cartAmount = window.localStorage.getItem("cartAmount");
            var amount = (cartAmount === "null") || (cartAmount === "undefined") ? 0 : parseInt(cartAmount) * 1;


            sfc.createPayment({
                "sessionToken": '@Model.SessionToken',
                "userTokenId": "@Model.UserTokenId",
                "currency": "USD",
                "amount": amount,
                "cardHolderName": cardholderName,
                //"transactionType": "Auth",
                "paymentOption": scard,
                "billingAddress": {
                    //"firstName": "John",
                    //"lastName": "Smith",
                    //"address": "340689 main St.",
                    //"city": "London",
                    //"country": "GB",    <------------------------ NOT SENT TO API ENDPOINT BUT RECEIVED APPROVED RESULT !!!
                    "email": "john.smith@safecharge.com"
                }
            }, function (res) {
                    $.get('/Home/GetPaymentStatus', { sessionToken: '@Model.SessionToken' }, function (data, textStatus) {
                        alert(data);
                        console.log('got %o with status %s', data, textStatus);
                    }, "json"); // or xml, html, script, json, jsonp or text
                console.log(res)
            })
        }
    </script>
    <script>
        $(document).ready(function () {
            var totalAmount = window.localStorage.getItem("cartAmount");
            var checoutAmount = (totalAmount === "null") || (totalAmount === "undefined") || (totalAmount === null) ? 0 : parseInt(totalAmount) * 1;

            var checkoutTotal = document.getElementById('checkoutTotal').innerHTML = checoutAmount.toFixed(2);
            console.log(checkoutTotal);


            var cartCount = window.localStorage.getItem("cartCount");
            totalCount = (cartCount === "null") || (cartCount === "undefined") ? 0 : cartCount;
            var cartCountElem = document.getElementById('cartCount').innerHTML = totalCount;
        });
    </script>
}