@model Safecharge.Response.InitPaymentResponse
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Fingerprinting-->
<form id="fingerprintform" name="frm" method="POST" action="@Model.PaymentOption.Card.ThreeD.MethodUrl">
    <input type="hidden" id="fingerprintinput" name="threeDSMethodData" value="@Model.PaymentOption.Card.ThreeD.MethodPayload">
</form>  
  <!-- when the form is submitted, the server response will appear in this iframe -->
    @*<iframe name="frm" src="https://3dsn.sandbox.safecharge.com/ThreeDSMethod/api/ThreeDSMethod/threeDSMethodURL" width="0" height="0">
</iframe>*@

<div id="iframe" style="width:0px; height:0px; visibility:hidden">
</div>

<!--/ End Fingerprinting -->
@section Scripts{
    <script>
        //function callIframe(url, callback) {
        //    $(document.body).append('<IFRAME id="myId" ...>');
        //    $('iframe#myId').attr('src', url);

        //    $('iframe#myId').load(function () {
        //        callback(this);
        //    });
        //}
        //$('#fingerprintiframe').load(function () {
        //    if (typeof callback == 'function') {
        //        callback($('body', this.contentWindow.document).html());
        //    }
        //    setTimeout(function () { $('#frameId').remove(); }, 50);
        //});
        var iframe = $('<iframe name="postframe" id="postframe" class="hidden" src="about:blank" />');
        $('div#iframe').append(iframe);
        @*$('#fingerprintinput').val('@Model.PaymentOption.Card.ThreeD.MethodPayload');
        $('#fingerprintform').attr("action", '@Model.PaymentOption.Card.ThreeD.MethodUrl');
        $('#fingerprintform').attr("method", "post");
            $('#fingerprintform').attr("content-type", "application/json");*@
        $('#fingerprintform').attr("target", "postframe");
        $('#fingerprintform').submit();
        //need to get contents of the iframe
        //$("#postframe").load(
        //    function () {

        //        var iframeContents = $("#postframe");
        //        console.log(iframeContents);
        //        //   $("div#textarea").html(iframeContents);
        //    }
        //);

        $('#postframe').load(function () {
            if (typeof callback == 'function') {
                callback($('body', this.contentWindow.document).html());
            }
            setTimeout(function () { $('#postframe').remove(); }, 10000);
        });

        // Fingerprinting

        //var fingerpringtingform = document.getElementById("fingerprintform");
        //fingerpringtingform.action = methodUrl;
        //var input = document.getElementById("fingerprintinput");
        //input.value = methodPayload;
        //fingerpringtingform.submit();
        //console.log("Browser fingerprinting done!");
    </script>
}
