@model Safecharge.Response.OpenOrderResponse
@{
  ViewBag.Title = "Checkout Page";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Checkout -->
<section class="shop checkout section">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-6 m-sm-auto">
        <div class="order-details">
          <!-- Order Widget -->
          <div class="single-widget m-0">
            <div class="content">
              <h2>Checkout Details</h2>
              <p class="m-auto text-center">Amount to pay: <span id="checkoutTotal">$@String.Format("{0:c}", ViewBag.AuthorizedAmount)</span></p>
            </div>
          </div>
          <!--/ End Order Widget -->
          <!-- Payment Method Widget -->
          <div class="single-widget">
            <div class="col-12">
              <div class="form-group">
                <label for="authType">Authentication Type</label>
                <select class="form-control form-control-sm" id="authSelect" onchange="cardSelected()">
                  <option label="Auth" selected="selected">Auth</option>
                  <option label="PreAuth">PreAuth</option>
                  <option label="Sale">Sale</option>
                </select>
              </div>
              <div class="form-group">
                <label for="cardNumber">Card Number</label>
                <select class="form-control form-control-sm" id="cardSelect" onchange="cardSelected()">
                  <option label="3DS v2 Frictionless Flow Test Card [4000020951595032]" selected="selected">4000020951595032</option>
                  <option label="3DS v2 Challenge Flow Test Card [2221008123677736]">2221008123677736</option>
                  <option label="3DS v1 Flow Card Fallback [4407106439671112]">4407106439671112</option>
                  <option label="Non-3DS Approved Card [4000023104662535]">4000023104662535</option>
                  <option label="Non-3DS Declined Card [4008370896662369]">4008370896662369</option>
                  <option label="Simple Auth Card [2221008123677736]">2221008123677736</option>
                </select>
              </div>
              <div class="form-group">
                <input type="hidden" id="cardNumber" />
              </div>
              <div class="form-group">
                <label for="cardHolderName">Card Holder Name</label>
                <input type="text" id="cardHolderName" class="col-12" placeholder="FL-BRW1" value="FL-BRW1" />
              </div>
              <div class="form-group">
                <label for="expMonth">Expiry Month</label>
                <input type="text" id="expMonth" class="col-12" placeholder="12" value="12" />
              </div>
              <div class="form-group">
                <label for="expYear">Expiry Year</label>
                <input type="text" id="expYear" class="col-12" placeholder="25" value="25" />
              </div>
              <div class="form-group">
                <label for="CVV">CVV</label>
                <input type="text" id="CVV" class="col-12" placeholder="217" value="217" />
              </div>
              <input type="hidden" id="methodUrl" value="" />
            </div>
          </div>
          <!--/ End Payment Method Widget -->
          <!-- Button Widget -->
          <div class="single-widget">
            <div class="content">
              <div class="text-center">
                <button id="payoutButton" onclick="main();" class="btn btn-primary">Submit Payment</button>
              </div>
            </div>
          </div>
          <!--/ End Button Widget -->
        </div>
        <div class="col-6 m-sm-auto">
          <div id="textarea"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Checkout -->

@section Scripts{
  <script src="https://cdn.safecharge.com/safecharge_resources/v1/websdk/safecharge.js"></script>
  <script>
    function main() {
      console.log("@Model.SessionToken");
      var cardholderName = document.getElementById('cardHolderName').value;
      var cardNumber = document.getElementById('cardSelect').value;
      var expMonth = document.getElementById('expMonth').value;
      var expYear = document.getElementById('expYear').value;
      var CVV = document.getElementById('CVV').value;
      var amount = "@String.Format("{0:c}", ViewBag.AuthorizedAmount)";
      var _amount = Number.parseFloat(amount);
      var currency = "@ViewBag.Currency";
      var authType = document.getElementById('authSelect').value;

      var paymentRequest =
      {
        "sessionToken": "@Model.SessionToken",
        "amount": amount,
        "currency": currency,
        "orderId": "34383481",
        "transactionType": authType,
        "paymentOption": {
          "card": {
            "cardNumber": cardNumber,
            "cardHolderName": cardholderName,
            "expirationMonth": expMonth,
            "expirationYear": expYear,
            "CVV": CVV,
            "threeD": {}
          }
        },
        "deviceDetails": {
          "ipAddress": "93.146.254.172"
        },
        "billingAddress": {
          "country": "GB",
          "email": "john.smith@safecharge.com",
        }
      };

      $.ajax({
        method: "POST",
        url: "https://localhost:44356/api/threeD/paymentsts3d1",
        data: JSON.stringify(paymentRequest),
        contentType: "application/json",
        success: function (paymentResponse) {
          console.log("Step-2: Authentication payment response.");
          console.log(paymentResponse);
          if (paymentResponse.transactionStatus === "APPROVED") {
            if (authType === "Sale") {
              alert("PAYMENT WITH TRANSACTIONTYPE SALE OK !");
            } else {
                          // Settle transaction
            var settleRequest =
            {
              "amount": amount,
              "currency": currency,
              "relatedTransactionId": paymentResponse.transactionId,
              "authCode": paymentResponse.authCode,
              "urlDetails": {
                "notificationUrl": ""
              }
            };
            console.log("Step-3: Settle transaction.");
            console.log("Step-3: Settle transaction request.");
            $.ajax({
              method: "POST",
              url: "https://localhost:44356/api/threeD/SettleTransaction",
              data: JSON.stringify(settleRequest),
              contentType: "application/json",
              success: function (settleResponse) {
                console.log("Step-3: Settle transaction response.");
                console.log(settleResponse);

                // Get payment status
                console.log("Step-4: Get payment status.");
                console.log("Step-4: Get payment status request.");
                var sessionToken = paymentRequest.sessionToken
                $.ajax({
                  method: "POST",
                  data: JSON.stringify(sessionToken),
                  url: "https://localhost:44356/api/threeD/getpaymentstatus",
                  contentType: "application/json; charset=utf-8",
                  dataType: 'json',
                  success: function (paymentStatusResponse) {
                    console.log("Step-4: Get payment status response.");
                    console.log(paymentStatusResponse);

                    if (true) {//(paymentResponse.status === "ERROR") {
                      alert("PAYMENT STATUS RETURNED ERROR!");
                      // Here we are going to void transaction

                      console.log("Step-5: Void transaction.");
                      console.log("Step-5: Void transaction request.");
                      var voidRequest = {
                        "amount": amount,
                        "currency": currency,
                        "relatedTransactionId": settleResponse.transactionId,
                        "authCode": settleResponse.authCode,
                        "urlDetails": {
                          "notificationUrl": ""
                        }
                      };
                      console.log(voidRequest);

                      $.ajax({
                        method: "POST",
                        url: "https://localhost:44356/api/threeD/voidtransaction",
                        data: JSON.stringify(voidRequest),
                        contentType: "application/json",
                        success: function (voidResponse) {
                          console.log("Step-5: Void transaction response");
                          console.log(voidResponse);
                          if (voidResponse.transactionStatus === "APPROVED") {
                            alert("FLOW COMPLETED OK!");
                          } else {
                            alert("TRANSACTION ERROR!");
                          }
                        },
                        error: function () {
                          alert("Ajax error!");
                        }
                      });
                    }
                  },
                  error: function () {
                    console.log("Could not get session token!");
                    alert("Could not get session token!");
                  }
                });
              },
              error: function() {
                alert("Ajax error!");
              }
            });
            }
          }
          else {
            alert("ERROR OR NOT APPROVED!");
          }
        },
        error: function () {
          alert("Ajax error!");
        }
      });
    }
  </script>
}

